{% extends "main.html" %}

{% block content %}


<div class="container">
    
    <h2>Sistem inteligent pentru detectarea constelatiilor</h2>
    <div class="d-grid gap-2 w-200">
        <button class="button btn-primary" onclick="callDetectFromImage()">Detectare Constelatii din imagini</button>
        <button class="button btn-primary" onclick="callSistemExpert()">Sistem Expert</button>
    </div>
</div>

<script>
    // Funcții apelare API pentru butoane
    async function callDetectFromImage() {
        document.location.href = '/compare-upload-image';
    }

    // Funcții apelare API pentru butoane
    async function callYolo() {
        document.location.href = '/compare-upload-image';
    }
    
    async function callSistemExpert() {
        document.location.href = '/system-expert';
    }


</script>
{% endblock %}